// Color Variable

$p_color: #444444;
$orange_color: #ff5100;
$green_color: #05fab1;
$blue_color: #0084ff;
$teal_color: #018d81;
$red_color: #ff0000;
$white_color: #ffffff;
$black_color: #000000;
$heading_color: #11161e;
$gray_color: #828282;
$white_gray_color: #e0e0e0;
$item_color: #1cb9c8;


// Padding Variable
$space_100: 100px;
$space_80: 80px;
$space_60: 600px;
$space_40: 40px;
$space_20: 20px;


// font_family

$josefin: "Josefin Sans", sans-serif;
$roboto: "Roboto", sans-serif;